{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="{% static 'assets/img/astronomia.png' %}" alt="Logo">
        </div>
        <div class="form">
            <form action="#" method="post">
                {% csrf_token %}
                <div class="form-header">
                    <div class="title">
                        <h1>Login</h1>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="username">Nome de Usuário</label>
                        <input id="username" type="text" name="username" placeholder="Digite seu nome de usuário" required>
                    </div>

                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="password" placeholder="Digite sua senha" required>
                    </div>
                </div>

                <div class="action-buttons">
                    <button type="submit" class="btn">Sign In</button>
                   <!-- <button class="btn">
                        <a href="index_cad.html">Cadastrar-se</a>
                    </button> -->
                </div>

              <!--  <div class="back-button">
                    <button class="btn">
                        <a href="index.html">Voltar</a>
                    </button>
                </div> -->
                {% for k, v in forms.erros.items %}
                    {{v}}
                {% endfor %}
            </form>
        </div>
    </div>
</body>

</html>
